@model IEnumerable<Blog>

@foreach (var blog in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog">
            <div class="blog-img">
                <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                    <img src="~/img/blog/@blog.ImgUrl" alt="blog">
                </a>
                <div class="blog-hover">
                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                    <p>
                        By Alex /@blog.Date?.ToString("MMMM dd, yyyy")/ <i class="fa fa-comments-o"></i> 4
                    </p>
                </div>
                <div class="blog-bottom">
                    <h2><a>@blog.ShortDesc</a></h2>
                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">read more</a>
                </div>
            </div>
        </div>
    </div>

}
