@model CourseCreateVM

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product Create form</h4>
                <form enctype="multipart/form-data" asp-action="create" method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="ImgUrl"></label>
                        <input asp-for="ImgUrl" class="form-control" placeholder="Count">
                        <span class="text-danger" asp-validation-for="ImgUrl"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span> @* //errorlari gosderir *@
                    </div>
                    <div class="form-group">
                        <label asp-for="Desc"></label>
                        <input asp-for="Desc" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Desc"></span> @* //errorlari gosderir *@

                    </div>

                    <div class="form-group">
                        <label asp-for="About"></label>
                        <input asp-for="About" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="About"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Apply"></label>
                        <input asp-for="Apply" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Apply"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Duration"></label>
                        <input asp-for="Duration" class="form-control" placeholder="Duration">
                        <span class="text-danger" asp-validation-for="Duration"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Certification"></label>
                        <input asp-for="Certification" class="form-control" placeholder="Certification">
                        <span class="text-danger" asp-validation-for="Certification"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Hours"></label>
                        <input asp-for="Hours" class="form-control" placeholder="Hours">
                        <span class="text-danger" asp-validation-for="Hours"></span> @* //errorlari gosderir *@

                    </div>
                        <div class="form-group">
                        <label asp-for="Skill"></label>
                        <input asp-for="Skill" class="form-control" placeholder="Skill">
                        <span class="text-danger" asp-validation-for="Skill"></span> @* //errorlari gosderir *@

                    </div>
                        <div class="form-group">
                        <label asp-for="Language"></label>
                        <input asp-for="Language" class="form-control" placeholder="Language">
                        <span class="text-danger" asp-validation-for="Language"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="StuNum"></label>
                        <input asp-for="StuNum" class="form-control" placeholder="StuNum">
                        <span class="text-danger" asp-validation-for="StuNum"></span> @* //errorlari gosderir *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Assesment"></label>
                        <input asp-for="Assesment" class="form-control" placeholder="Assesment">
                        <span class="text-danger" asp-validation-for="Assesment"></span> @* //errorlari gosderir *@

                    </div>

                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span> @* //errorlari gosderir *@

                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categories</label>
                        <select class="form-select form-select-lg" asp-for="CategoryId"   asp-items="@ViewBag.Categories">
                        </select> 
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tags</label>
                        <select  class="form-select form-select-lg" asp-for="TagIds" asp-items="@ViewBag.Tags">
                        </select>
                    </div>
                    

                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="index" class="btn btn-light">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section script {
    <partial name="_ValidationPartial"></partial>
}
