@using BackEndProject_Edu.Areas.AdminArea.ViewModels.EventVMs
@model EventDetailVM
<div class="container">
    <div class="row">
        <div class="card-body">


            <img src="~/img/event/@Model.ImgUrl" width="300" height="150" />

            <br />
            <h4>Name:</h4><p>@Model.Name</p>
            <br />
            <h4>Description:</h4>
            <p>@Model.Desc</p>

            <br />

            <h4>@Model.Time.ToString("dd.MM.yyyy")</h4>


            <br/>
            <h3>Speaker:</h3>
            @foreach (var speaker in Model.Speakers)
            {
                <p>
                    @speaker.Name
                </p>
            }

            <br />

            <a asp-action="index" class="btn btn-outline-dark">Go Back</a>

        </div>
    </div>
</div>
@section script {
    <partial name="_ValidationPartial"></partial>
}