@using BackEndProject_Edu.Areas.AdminArea.ViewModels.BlogVMs
@model BlogDetailVM

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" class="forms-sample">

                <img src="~/img/blog/@Model.Photo" width="300" height="150" />

                <h4 class="card-title">Blog Update form</h4>
              
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span> @* //errorlari gosderir *@
                    </div>
                    <div class="form-group">
                        <label asp-for="Desc"></label>
                        <input asp-for="Desc" class="form-control" placeholder="Desc">
                        <span class="text-danger" asp-validation-for="Desc"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" type="file" class="form-control" placeholder="Count">
                        <span class="text-danger" asp-validation-for="Photo"></span> @* //errorlari gosderir *@

                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a asp-action="index" class="btn btn-light">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section script {
    <partial name="_ValidationPartial"></partial>
}